/*==================================
GLOBAL STYLES
/*==================================*/


@font-face {
    font-family: 'museo_slab500';
    src: url('fonts/museo_slab-webfont.eot');
    src: url('fonts/museo_slab-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/museo_slab-webfont.woff2') format('woff2'),
         url('fonts/museo_slab-webfont.woff') format('woff'),
         url('fonts/museo_slab-webfont.ttf') format('truetype'),
         url('fonts/museo_slab-webfont.svg#museo_slab500') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'lobster_1.4regular';
    src: url('fonts/lobster_2-webfont.eot');
    src: url('fonts/lobster_2-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/lobster_2-webfont.woff2') format('woff2'),
         url('fonts/lobster_2-webfont.woff') format('woff'),
         url('fonts/lobster_2-webfont.ttf') format('truetype'),
         url('fonts/lobster_2-webfont.svg#lobster_1.4regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansregular';
    src: url('fonts/opensans-regular-webfont.eot');
    src: url('fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('fonts/opensans-regular-webfont.woff') format('woff'),
         url('fonts/opensans-regular-webfont.ttf') format('truetype'),
         url('fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

html {
  margin:0;
  padding:0;
  font-size: 100%;
  height:100%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body{
  margin:0;
	padding:6em 0; 
  font-family: 'open_sansregular', Arial, Helvetica, sans-serif;
  color:#363636;
	font-size: 100%;
  background:#e5e5e5;
  min-height:100%;
  position: relative;
}

img{
  max-width: 100%;
  border:none;
  margin:0;
}

h1{
  color:#fff;
  font-family: 'open_sansregular', Arial, Helvetica, sans-serif;
  font-size: 2rem; /*32px*/
}

h2{
  font-family: 'museo_slab500', Georgia, serif;
  font-size: 1.125rem; /*18px*/
  margin:0;
}

p{
  font-family: 'open_sansregular', Arial, Helvetica, sans-serif;
  font-size: 1rem; /*16px*/

}

ul{
  list-style: none;
  padding-left: 1.25rem;
  margin:.5em 0 1em 0;
}

li{
  margin-bottom:.25rem; /*4px*/
}

a{
  color:#42c0d3;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

hr{
  background: #cdcdcd; 
  width: 100%; 
  height: 1px;
  margin: 0 0 1.5rem; /*24px*/
  border: none; 
}

/*==================================
MAIN PAGE SPECIFIC STYLES
/*==================================*/

[role="header"]{
	width:100%;
  position: fixed;
  top:0;
	background:#363636;
}


.headerContent{
  text-align: center;
  margin:0 auto;
  padding:0.625rem; /*10px*/
  max-width:64rem; /*1024px*/
}

[role="sectionHeader"]{
  text-align: center;
  color:#fff;
  margin:0 auto;
  padding:.5rem; /*16px*/
  width:95%;
  max-width: 37.5rem; /*600px*/
  background:#42c0d3;
  border:1px solid #42c0d3;
  border-radius: 5px 5px 0 0;
}

[role="section"]{
  margin:0 auto;
  margin-bottom:2rem;
  padding:1rem; /*16px*/
  width:95%;
  max-width: 37.5rem; /*600px*/
  background:#fff;
  border-right:1px solid #cdcdcd;
  border-bottom:1px solid #cdcdcd;
  border-left:1px solid #cdcdcd;
  border-radius: 0 0 5px 5px;
}

[role="footer"]{
  width:100%;
  background:#363636;
  position: absolute;
  bottom: 0;
}

.footerContent{
  text-align: center;
  margin:0 auto;
  padding:.625rem; /*10px*/
  max-width:64rem; /*1024px*/
}

.footerContent p{
  color:#fff;
  font-size:.75rem; /*12px*/
}

/*==================================
DESIGN PAGE SPECIFIC STYLES
/*==================================*/

.design{
  text-align: center;
  max-width:75rem; /*1200px*/
  margin:0 auto;
  margin-bottom:2rem; /*32px*/
}
/*
.design img{
  border:1px solid #cdcdcd;
  border-radius: 10px;
}
*/

/*==================================
BREAKPOINT FOR HEADER/FOOTER
/*==================================*/


@media screen and (min-width:420px){

.headerContent{
  text-align:left;
}

p.address{
  float: left;
}

p.phone{
  float: right;
}

p.website{
  clear:both;
}

}
